h1{
	color: #2670F7;
	font-family: https://static.wixstatic.com/media/44be5e_fcf03a17b53341e2a6f89dbc1a30927f~mv2.gif;
	background-color: #BCC1ED;
	font-size: 50px;
}
.parrafo{
	color: #C0C7D5;
	font-family: "https://fonts.googleapis.com/css2?family=Goblin+One&family=Open+Sans:ital,wght@1,300&display=swap";
	background-color: #EAEBF1;
	font-size: 20px;
}
